.date-selector {
  background-color: hsl(204, 63%, 54%);
  height: 6vh;
  min-height: 24px;
  width: 156px;
  padding: 10px;
  margin: 10px;
  font-size: 1em;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.date-selector input {
  background: none;
  border: none;
  font-size: 1em;
}
