.card-container {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 200px;
  margin: 20px 10px 10px 10px;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0 2px 4px #fff;
}

.card-container:hover {
  transition: box-shadow 0.3s;
  box-shadow: 0 4px 6px #fff;
}

.red-gradient {
  background: linear-gradient(180deg, #411111 0%, #971b1b 57.81%, #c40c0c 100%);
}

.yellow-gradient {
  background: linear-gradient(180deg, #66591d 0%, #8d8d1b 57.81%, #c4c715 100%);
}

.green-gradient {
  background: linear-gradient(180deg, #244e0c 0%, #598d1d 57.81%, #28aa08 100%);
}

.card-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  width: 98%;
}

.card-apperrence-date {
  font-weight: bold;
  font-size: 0.8em;
}

.card-status {
  margin-bottom: 8px;
  align-self: flex-end;
  font-size: 0.7em;
}

.card-company-name {
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: bold;
  border-bottom: 2px #fff solid;
}

.card-description {
  width: 260px;
  height: 100px;
  background: none;
  border: none;
  resize: none;
  outline: none;
  color: #fff;
}

.card-description::-webkit-scrollbar {
  width: 6px;
}

.card-description::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.card-description::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
