* {
  margin: 0;
  padding: 0;
  font-family: "Victor Mono", monospace;
  font-style: normal;
  position: relative;
}

body {
  background: linear-gradient(180deg, #352163 0%, #331972 57.81%, #33143c 100%);
  width: auto;
  min-height: 100vh;
  height: auto;
  overflow-x: hidden;
  color: #fff;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
