.card-container {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 200px;
  margin: 20px 10px 10px 10px;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.red-gradient {
  background: linear-gradient(to bottom, #fff, hsl(0, 98%, 57%));
}

.yellow-gradient {
  background: linear-gradient(to bottom, #fff, hsl(59, 98%, 63%));
}

.green-gradient {
  background: linear-gradient(to bottom, #fff, hsl(113, 100%, 58%));
}

.card-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.card-apperrence-date {
  font-weight: bold;
  margin-left: 8px;
  font-size: 0.8em;
}

.card-title {
  font-size: 1.2em;
  font-weight: bold;
  border-bottom: 2px black solid;
}

.card-company-name {
  padding: 10px;
}

.card-description {
  width: 260px;
  height: 100px;
  background: none;
  border: none;
  resize: none;
  outline: none;
}

.card-description::-webkit-scrollbar {
  width: 6px;
}

.card-description::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.card-description::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
