.card-icons {
  align-self: end;
}
.card-icon {
  border-radius: 6px;
}

.card-icon:hover {
  background-color: #9e9e9e;
  transition: background-color 0.3s, color 0.3s;
  size: 30px;
  cursor: pointer;
}
