.modal-edit-content h1 {
  color: black;
  margin-bottom: 4vh;
  border-bottom: 1px black solid;
}

.modal-input {
  margin-bottom: 1vh;
}

.modal-edit-content-buttons {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.modal-edit-content-button {
  margin-top: 3vh;
  margin-right: 10px;
}
